{
  "trailingComma": "all",
  "arrowParens": "always",
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "printWidth": 120,
  "endOfLine": "lf",
  "plugins": ["prettier-plugin-tailwindcss"]
}
